<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="Gondwana Rates API Test Suite">
            <directory>frontend/api/tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">frontend/api</directory>
        </include>
        <exclude>
            <directory suffix="Test.php">frontend/api/tests</directory>
        </exclude>
    </coverage>
</phpunit>
